<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfltravelalerts"
    android:versionCode="10001"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- GCM permissions -->

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.tfltravelalerts.TflApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TflTheme" >
        <activity android:name="MainActivity" >
            <intent-filter android:label="@string/app_name_launcher" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tfltravelalerts.statusviewer.LineStatusViewerDetailActivity" />
        <activity android:name="com.tfltravelalerts.alerts.EditAlertActivity" />
        <activity android:name="com.tfltravelalerts.debug.ExceptionViewerActivity" />

        <service android:name="com.tfltravelalerts.GCMIntentService" />

        <receiver
            android:name="com.tfltravelalerts.notification.TflAlarmBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.tfltravelalerts.alarm" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.tfltravelalerts.boot.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Used for install referral measurement-->
        <service android:name="com.google.analytics.tracking.android.CampaignTrackingService"/>
        <receiver android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
