<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- GCM permissions -->
    <permission
            android:name="com.tfltravelalerts.android.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="com.tfltravelalerts.android.permission.C2D_MESSAGE"/>

    <application>

        <receiver
                android:name="com.tfltravelalerts.gcm.GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.tfltravelalerts.android"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
